    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, #f7971e 0%, #ffd200 100%);
        flex-direction: column;
    }
    
    .time {
        font-family: Arial, Helvetica, sans-serif;
        justify-content: flex-end;
    }
    /* Caja logo y navbar */
    
    .container-1 {
        display: flex;
        width: 100%;
        height: 30%;
        flex-direction: row;
        padding: 2em;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .container-logo {
        background-color: transparent;
    }
    
    .img-logo {
        width: 5em;
        height: 5em;
        justify-content: center;
    }
    
    .navbar {
        display: flex;
        width: 70%;
        height: 30%;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2em;
        flex-flow: row wrap;
    }
    
    li {
        list-style-type: none;
    }
    
    .nav-item {
        background-color: #6d5609;
        padding: 0.2em;
        margin-right: 0.3em;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #695206;
        box-shadow: 5px 2px #d6ad27;
    }
    
    a {
        color: #ffff;
        text-decoration: none;
    }
    /* Caja presentacion */
    
    .cont-title {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 20%;
        flex-direction: row;
    }
    
    .font-title {
        padding: 2em;
    }
    
    .title {
        width: 100%;
        height: 3em;
        justify-content: center;
    }
    
    .container-2 {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        flex-flow: row wrap;
    }
    
    .cont-2-img {
        width: 200px;
        height: 200px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        -ms-border-radius: 150px;
        -o-border-radius: 150px;
        border: 10px solid #6d5609;
    }
    /* Caja productos */
    
    .caja {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: row wrap;
        background-color: #A98307;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    
    .cont-obj {
        background-color: transparent;
    }
    
    .img-obj {
        width: 20em;
        height: 10em;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
    }
    /* Caja mapa */
    
    .container-3 {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 2em;
        padding-bottom: 2em;
        flex-flow: row wrap;
        align-items: stretch;
    }
    
    .information {
        width: 25em;
        height: 5em;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 2em;
    }
    
    .cont-img {
        background-color: transparent;
        flex-direction: row;
        flex-flow: row wrap;
    }
    
    .img-mapa {
        width: 25em;
        height: 10em;
        display: flex;
        justify-content: flex-end;
    }